/* Root Styles */
:root {
    --blue-800: #242742;
    --blue-700: #36384D;
    --gradient-4: linear-gradient(#FF6A3A, #FF527B);
    --spacing-100: 8px;
    --spacing-200: 16px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-500: 40px;
    --spacing-600: 48px;
    --spacing-800: 64px;
    --spacing-900: 72px;
    --spacing-1300: 104px;
}

/* General Styles */
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0;
    color: var(--blue-800);
}

.emphasized-text {
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0;
    font-weight: bold;
}

.btn {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0;
    font-weight: bold;
    background-color: var(--blue-800);
    color: white;
    padding: var(--spacing-200) var(--spacing-400);
    width: 100%;
    border-radius: 8px;
    border: none;
}

/* Main Section Styles */
#main-section picture img {
    width: 100%;
}

#main-hero {
    padding: var(--spacing-500) var(--spacing-300);
    box-sizing: border-box;
    width: 100%;
}

#main-hero p {
    margin: 0 0 var(--spacing-300);
}

#updates-list {
    list-style: none;
    padding: 0 var(--spacing-300);
}

#updates-list li {
    position: relative;
    padding-left: 12px;
}

#updates-list li:not(:last-child) {
    margin-bottom: var(--spacing-100);
}

#updates-list li::before {
    content: "";
    position: absolute;
    left: -24px;
    width: 21px;
    height: 21px;
    background-image: url(assets/images/icon-list.svg);
}

#signup-form {
    margin-top: var(--spacing-500);
}

#signup-form > * {
    display: block;
}

#signup-form label {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: var(--spacing-100);
}

#email {
    margin-bottom: var(--spacing-300);
    padding: var(--spacing-200) var(--spacing-300);
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid grey;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0;
}

#email:active {
    border: 1px solid var(--blue-800);
}

/* Tablet Responsive Styles */
@media screen and (min-width: 376px) {
    body {
        background-color: var(--blue-700);
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 var(--spacing-500);
    }

    main {
        background-color: white;
        padding: var(--spacing-500);
        border-radius: 36px;
        box-sizing: border-box;
        max-width: 608px;
        margin: auto;
    }

    .emphasized-text {
        font-size: 56px;
    }

    #main-hero {
        padding: var(--spacing-500) 0 0 0;
    }

    #signup-form {
        margin-top: var(--spacing-300);
    }

    #email {
        margin-bottom: var(--spacing-200);
    }
}

/* Desktop Responsive Styles */
@media screen and (min-width: 769px) {
    main {
        padding: var(--spacing-400);
        max-width: 904px;
    }

    #main-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--spacing-800);
        align-items: center;
    }

    #main-section picture {
        order: 2;
    }

    #main-section picture img {
        height: 100%;
    }

    #main-hero {
        padding: 0;
    }

    #main-hero p {
        margin: 0 0 var(--spacing-400);
    }

    #signup-form {
        margin-top: var(--spacing-400);
    }

    #email {
        margin-bottom: var(--spacing-300);
    }

    .btn:hover {
        background: var(--gradient-4);
        cursor: pointer;
    }
}