:root {
    --blue-800: #242742;
    --blue-700: #36384D;
    --gradient-4: linear-gradient(#FF6A3A, #FF527B);
    --spacing-100: 8px;
    --spacing-200: 16px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-500: 40px;
    --spacing-600: 48px;
    --spacing-800: 64px;
    --spacing-900: 72px;
    --spacing-1300: 104px;
}